{% extends 'base.html'%}
{%block title%}
About us
{%endblock%}
{% block content%}
{% load static%}
<img src="{% static 'cityhospital.jpg' %}" height="500" width="500" >
 <h2>About Daya General Hospital & Speciality Surgical Centre</h2>
            <p>Daya has an efficiently planned infrastructure with 250 beds, 40 outpatient clinics, 14 operation theatres, 13 critical care beds, 18
                 bedded CVTS ICU, 15 bedded dialysis unit, and comfortable in-patient rooms. The organization has 1000 employees, including 72
                 full-time doctors, with approximately 20,000 patients registering and performing more than 1500 surgeries every month. The wide
                  range of services at the hospital includes General & Laparoscopic Surgery, Internal Medicine, Critical Care, Cardiology,
                  Orthopaedics, Knee Replacement Surgery, Renal Transplantation,
                 Cardiothoracic, Urology, Gynaec Minimally Invasive Surgery, Medical & Surgical Gastroenterology, Spine & Trauma Care Centre,
                  Robotic Surgery and Pain Management Clinics. Daya also offers a broader range of surgeries with the most advanced Robotic Surgical
                   System</p>
                   <h3>branches:</h3>
                   <p>At Daya Hospital, with branches at Valappad, Palakkad, and Kunnamkulam, we are dedicated to enhancing healthcare
                     access and improving health outcomes across our communities. We collaborate closely with our partners to bridge gaps
                      in healthcare, ensuring that essential services and resources reach those who need them most.</p>
{%endblock%}
