{% extends 'base.html'%}
{%block title%}
Home
{%endblock%}
{% block content%}


<p> City Hospital has emerged as one of the trusted names in the Healthcare care space in Kerala in the
    last 2 decades of its operations. People from all walks of life frequent this hospital for their health care
    needs only because Daya is committed to delivering the highest quality and safest care possible for every
    patient at affordable rates. Daya, with its modern infrastructure and state of the art facilities, offer the
    finest healthcare services to the domestic and international patients.</p>

{%endblock%}